video#header-video loop="loop"
  source src="animations/training.webm" type="video/webm"

h2 Training
p.controller-description Training will raise a selected statistic, but at the same time it will cost your cat 10 energy.

= render partial: @trainings, spacer_template: 'shared/spacer'