video#header-video loop="loop"
  source src="animations/relax.webm" type="video/webm"

h2 Relax
p.controller-description Regenerate some energy. Your cat can relax once every 15 minutes.
= render partial: @regenerations, spacer_template: 'shared/spacer'