#cat-create {
  margin-top: 70px;
}

.setting {
  clear: both;
  margin-bottom: 1em;
}

.setting .name {
  padding: 0 1em;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5em;
}

.setting {
  .btn-left, .btn-right, .name {
    float: left;
  }
}

#cat-create .cat-appearance {
  position: relative;
  min-height: 200px;
}

#cat-create .cat img {
  position: absolute;
}

.setting-image-eyes {
  z-index: 3;
}

.setting-image-face {
  z-index: 2;
}

.setting-image-fur {
  z-index: 1;
}